*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

:root {
  --text-dark: #403f3d;
  --text-light: #e1d4c9;
  --text-accent: #b0907a;
  --background-body: #e1d4c9;
  --background-container: #665f55;
  --background-backdrop: rgba(64, 63, 61, 0.8);
  --border-light: #c1b6ad;
  --border-dark: #665f55;
  --font-family: "Inter", sans-serif;
  --second-family: "Manrope", sans-serif;
}

body {
  background-color: var(--background-body);
}

.App {
  max-width: 1440px;
  margin: 0 auto;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* ================= HEADER ================= */
.header__container {
  margin: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
  column-gap: 40px;
}

.link {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-dark);
}

.header__menu-page .link {
  display: inline-flex;
  column-gap: 8px;
}

.header__link {
  position: relative;
}

.header__link::after {
  width: 100%;
  content: "";
  position: absolute;
  background-color: var(--text-dark);
  height: 2px;
  bottom: -6px;
  left: 0;
  opacity: 0;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out, opacity 0.7s ease-in-out;
}

.header__link:hover::after {
  transform: scaleX(1);
  opacity: 1;
  transition: transform 0.5s ease-in-out, opacity 0.7s ease-in-out;
}

.header__link:hover::before {
  transform: scaleX(1);
  opacity: 0;
}

.header__hamb {
  display: none;
}

/* ================= BREAKPOINTS ================= */
/* For medium devices */
@media all and (max-width: 768px) {
  .header__nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    margin-top: 80px;
    z-index: 100;
    background-color: var(--background-body);
    transition: 0.5s ease-in-out;
  }

  .header__nav.show-menu {
    right: 0;
  }

  .header__menu {
    width: 100%;
    height: 100%;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
  }

  .header__hamb {
    display: flex;
    align-items: center;
  }

  .hamb__field {
    padding: 10px 13px;
    border-radius: 100px;
    border: 1px solid var(--background-container);
  }

  .hamb__bar {
    display: block;
    width: 16px;
    height: 2px;
    margin: 6px auto;
    background: var(--background-container);
    transition: 0.5s ease-in-out;
  }

  .hamb__field.active .hamb__bar:nth-child(1) {
    transform: translateY(4px) rotate(45deg);
  }

  .hamb__field.active .hamb__bar:nth-child(2) {
    transform: translateY(-4px) rotate(-45deg);
  }

  body.noscroll {
    overflow: hidden;
  }
}

/* ================= ENJOY ================= */
.container {
  margin: 0 40px;
}

.enjoy__container {
  margin-top: 20px;
  padding: 100px;
  position: relative;
  font-family: var(--font-family);
  border-radius: 40px;
  overflow: hidden;
}

.enjoy__video {
  width: 100%;
  min-height: 644px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  object-fit: cover;
}

.enjoy__content {
  max-width: 530px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.enjoy__title {
  color: var(--background-body);
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}

.title__italic {
  color: var(--text-accent);
  font-style: italic;
}

.enjoy__text {
  color: var(--text-light);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.btn {
  width: 200px;
  padding: 20px 78px;
  border-radius: 100px;
}

.enjoy__btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: var(--background-body);
  font-weight: bold;
  cursor: pointer;
}

.enjoy__btn::after {
  position: absolute;
  right: 32%;
  margin-top: 3px;
  content: url(./assets/icons/coffee-cup.svg);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.enjoy__btn:hover::after {
  opacity: 1;
}

.enjoy__btn span {
  transition: transform 0.3s ease-in-out;
}

.enjoy__btn:hover span {
  transform: translateX(-14px);
}

@media all and (max-width: 800px) {
  .enjoy__container {
    padding: 100px 60px;
  }

  .enjoy__btn::after {
    opacity: 1;
  }

  .enjoy__btn span {
    transform: translateX(-14px);
  }
}

@media all and (max-width: 720px) {
  .enjoy__container {
    padding: 60px 16px;
  }

  .enjoy__title {
    font-size: 11vw;
    line-height: 115%;
  }
}

/* ================= FAVORITE COFFEE ================= */
.favorite__container {
  padding: 100px 0;
  row-gap: 40px;
}

.favorite__container,
.slider__wrapper,
.slider__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  letter-spacing: 1.5px;
  color: var(--text-dark);
}

.italic {
  font-style: italic;
  color: var(--text-accent);
}

.slider__btn {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e1d4c9;
  border-radius: 50%;
  border: 1px solid var(--border-dark, #665f55);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.slider__btn:hover {
  background: var(--background-container, #665f55);
}

.slider__btn svg path {
  transition: 0.5s ease-in-out;
}

.slider__btn:hover svg path {
  stroke: #e1d4c9;
}

.favorite__slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__wrapper {
  width: 100%;
  max-width: 475px;
  row-gap: 20px;
}

.slider__description {
  row-gap: 16px;
}

.slider__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: var(--text-dark);
}

.slider__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--text-dark);
}
